
<p>
	Service Transaction # <%= @service_transaction.id %> for your Car <%= @service_transaction.car.plate_number %> is now finished. 
</p>
<p>
Check out whats happening to your car at:

<%= link_to  @service_transaction.car.plate_number , @service_transaction %>

</p>