
	<div class="jumbotron">
	<h1>Welcome to Intermobile</h1>
	</div>
	<div class="well">
		<p>please sign up: <%= link_to "Log In", new_user_session_path %></p>
		<p>please sign up: <%= link_to "Sign Up", new_user_registration_path %></p>

		</div>

<% if user_signed_in? %>
	<%= link_to "Log Out", destroy_user_session_path, method: "delete" %>

	<% end %>

