
<p>
	Added <%= @service_todo.service.name %> service for your Car. 
</p>
<p>
Check out whats happening to your car at:

<%= link_to  @service_transaction.car.plate_number , @service_transaction %>
.</p>