/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

*-
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';


.well.login_form {
    max-width: 60rem;
}

li.transaction_links {

    list-style: none;
    font-size: 2rem;
    a:hover{
    	color: inherit;
    	transition: background-color 0.5s ease;
  		background-color: gray;
    	text-decoration: none;

    }
    a:visited{
    	color: inherit;
    }
    a:active{
    	color: inherit;
    }
    a:link{
    	color: inherit;
    }

}

nav.navbar.navbar-default {
    background-color: #37ecba;
    border-color: #37ecba;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

.status_code {
    float: right;

}

.default_todo {
    //color: #f6f6f6;
   // background-color: #777777;
}

.on_going_todo {
    //color: #0c1c29;
 //   background-color: #337ab7;
}

.completed_todo{
     //color: #093909;
    //background-color: #5cb85c;
}

li.unread {
    background-color: #d1cdcd;
}

li.comment {
    list-style: none;
}